  :root {
    --primary-text-color: 757575;
    --secondary-text-color: 212121;
    --main-background-color: FFFFFF;
    --section-background-color: F5F4FA;
    --accent-blue: 2196F3;
  }  
    
    .body {
    color: var( --primary-text-color: 757575);
    background-color: FFFFFF;
}

ul {
    list-style: none;
}
/* secondary color text 212121 */
/* main text color 757575 */
/* main background white FFFFFF */
/* section background F5F4FA */
/* accent blue 2196F3 */
/* header + footer background 2F303A */
/* h1 FFFFFF */

