  :root {
    --primary-text-color: 757575;
    --secondary-text-color: 212121;
    --main-background-color: FFFFFF;
    --section-background-color: F5F4FA;
    --accent-blue: 2196F3;
    }

/* secondary color text 212121 */
/* main text color 757575 */
/* main background white FFFFFF */
/* section background F5F4FA */
/* accent blue 2196F3 */
/* header + footer background 2F303A */
/* h1 FFFFFF */

    
    body {
      font-family: "Roboto", "Relaway", sans-serif;
    }

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-logo {
  font-family: "Relaway" ;
}


